<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <h1 style="text-align:left; color:#00b9ee;">Zueico</h1>
        <h3>Hello there,</h3>
        <p>You requested for a password reset, kindly use this <a href="{{url}}">Reset Your Password</a> to reset your password within 3 hours.</p>
        <br>
         <p style="text-align:left;color:#000; font-size: 14px;">
                  <h4>Thanks,</h4>
                  <h4>Zueico Team</h4>
                </p>
    </div>
   
</body>

</html>