<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <h3>Dear User,</h3>
        <p>You requested for a password reset, kindly use this <a href="{{url}}">Reset Your Password</a> to reset your password within 3 hours.</p>
        <br>
         <p style="text-align:left;color:#000; font-size: 14px;">
          <h4>Thanks, Zuenchain Team</h4>
        </p>
    </div>
   
</body>

</html>