 <!DOCTYPE html>
<html>

<head>
    <title>Welcome To Zuenchain</title>
</head>

<body>
    <div>
       <h1 style="text-align:left; color:#00b9ee;">Welcome To Zuenchain</h1>
                  
                  <br><p style="text-align:left;color:#000; font-size:20px;">
                  <b>Dear, {{name}},</b></p>
                  <p style="text-align:left;color:#000;font-size: 14px;"> 
                  <b>Welcome To Zuenchain! To Login to your member account, please use the below account details.</b> </p>
                  <br><div>
                  <p>Email: {{email}} </p> <br>
                  <p>Password : {{password}} </p>
                </div>
                 <br><br>
                 <div style="display:inline-block;background:#00b9ee; padding:10px;-webkit-border-radius: 10px; -moz-border-radius: 4px; border-radius: 4px;">
                   <a style="text-decoration:none;color:#fff;font-size:15px;"href="{{url}}">Use This Link To Login</a></div>
                    <br><br>
                 <p style="text-align:left;color:#000; font-size: 14px;">
                  <h4>Thanks,</h4>
                  <h4>Zueico Team</h4>
                </p>
    </div>
   
</body>

</html>


