
 <!DOCTYPE html>
<html>

<head>
    <title>Welcome To Zuenchain</title>
</head>

<body>
    <div>
        <br><p style="text-align:left;color:#000; font-size:20px;">
        <b>Dear {{name}},</b></p>
        <p style="text-align:left;color:#000;font-size: 14px;"> 
        <b>Thanks for creating a Zueico Account. To continue please confirm your
        email address by clicking the button below.</b> </p>
       <br><div style="display:inline-block;background:#00b9ee; padding:10px;-webkit-border-radius: 10px; -moz-border-radius: 4px; border-radius: 4px;">
       <a style="text-decoration:none;color:#fff;font-size:15px;"href="{{url}}">Activate Your Account</a></div>
       <br><br>
       <p style="text-align:left;color:#000; font-size: 14px;">
        <h4>Thanks, Zuenchain Team</h4>
      </p>
    </div>
   
</body>

</html>