<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
</head>

<body>
    <div>
        <h3>Dear User,</h3>
        <p>Your password has been successful reset, you can now login with your new password.</p>
        <br>
         <p style="text-align:left;color:#000; font-size: 14px;">
         <h4>Thanks, Zuenchain Team</h4>
        </p>
    </div>
   
</body>

</html>
